		/*for cell phones*/
@media only screen and (max-width: 767px) {
											}

			/*for larger than cellphones*/							  
@media only screen and (min-width: 768px) 	{
											}

																				
#fullpage {
			font-family: "trebuchet MS", helvetica, sans-serif;
			}


	p {
		margin: 20px;
		font-size: .85em;
		font-weight: bold;
	}
	.offpage	{
		text-indent: 40px;
	}

	.link  {
			text-decoration: none;
		}

	.breaker  {
		border-bottom: 2px solid black;
		padding-top: 40px;
	}	

	#navbar   {
			
			margin: auto;
	     	float: right;
			z-index: 1;
			font-size: 16px;
			line-height:26px;
			background-color: gold;
			position: absolute;
			top: 12px;
			right: 0px;
			width: auto;
			height: auto;
			margin-right: 18px;
			border: 3px solid black;
			border-radius: 10px;
			padding: 10px;
			
			}	

	.smallpiccenter	{
		width: 200px;
		height: 200px;
		display: block;
		margin: auto;
		border: 3px solid black;
		border-radius: 10px;
		margin-top: 10px;
		padding: 3px;
	}


	.lukagoralid
		{
			background-color: gold;
		}
	.goralid   {
		background-color: lightblue;

	}

	.chuid		{
		background-color: #ffccff;
	}

	
	#idcard	{
		width:225px;
		border: 3px solid black;
		border-radius: 10px;
		box-shadow: 15px 15px 20px;
		margin: 15px;
		text-align: center;
		}

#mainimage  {
			object-fit: cover;
			object-position: left;
		}
	#parentheader {
		padding-top: 15px;
		text-indent: 30px;

	}

	#lukaheader  {
		padding-top: 20px;
		text-indent: 30px;
	}

	#grandheader  {
		text-indent: 30px;


	}
	#secondsheader{

	}

	#backtotop  {
		text-align: center;

	}



			/*flexwrappers*/
	
	#grandparents { 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	#parents { 
		transform: scale(0.95);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content; top;
	}
	#lastgen {
		transform: scale(0.9); 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: top;
	}

	#otherGen {
		transform: scale(0.9); 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: top;
	}

	/*end of flexwrappers*/
