		/*for cell phones*/
@media only screen and (max-width: 767px) {
											}

			/*for larger than cellphones*/							  
@media only screen and (min-width: 768px) 	{
											}

																				
#fullpage {
	background-color: #ff0033;
	text-align: center;
			font-family: "trebuchet MS", helvetica, sans-serif;
			}



	p {
		margin: 20px;
		font-size: .85em;
		font-weight: bold;
	}
	.offpage	{
		text-indent: 40px;
	}

	.link  {
			text-decoration: none;
		}

	.breaker  {
	background-color: #ff0033;
		padding-top: 40px;
	}	

	.smallpiccenter	{
		width: 200px;
		height: 200px;
		display: block;
		margin: auto;
		border: 3px solid black;
		border-radius: 10px;
		margin-top: 10px;
		padding: 3px;
	}


	.lukagoralid
		{
			background-color: gold;
		}
	.goralid   {
		background-color: #ccccff;

	}

	.chuid		{
		background-color: #ffcccc;
	}

	.redback	{
		background-color: #ff0033;
	}

		#titText  	{
			margin-right: 25px;
			
			font-size: 6vw;
		}

		#header {
			padding-top: 50px;
		 	width: 100%;
		 	background-image: linear-gradient(to top, #ff0033, #ffcccc);
			font-family: 'Fredoka One', cursive;	
			width: 100%;
			height: auto;
			justify-content: center;	
		}	


	#idcard	{
		width:225px;
		border: 3px solid black;
		border-radius: 10px;
		box-shadow: 15px 15px 20px;
		margin: 15px;
		text-align: center;
		}


	#parentheader {
		

	}

	#lukaheader  {
		
	}

	#grandheader  {
		


	}
	#secondsheader{

	}

	#backtotop  {
		text-align: center;
		color: white;

	}



			/*flexwrappers*/
	
	#grandparents { 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	#parents { 
		transform: scale(0.95);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content; top;
	}
	#lastgen {
		transform: scale(0.9); 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: top;
	}

	#otherGen {
		transform: scale(0.9); 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: top;
	}

	/*end of flexwrappers*/
