
		/*for cell phones*/
@media only screen and (max-width: 767px) {

		#aside {
			font-size: .8em;
		}

		#likedis	{
			display: inline;
			margin-top: 30px;
			}
		#favs  {
			width: 80%;
			margin: auto;


		}	

		#hates {
			width: 80%;
			margin: auto;
		}

		 #botpicbox {
		 	display: inline;

		 }

		 .smallpic  {
		 	width: 40%;
		 	border: 5px solid black;
			border-radius: 25px;
			margin: 5px;
		 }

		 .largepic
		  {
		  	width: 100%;
		  	border: 5px solid black;
			border-radius: 25px;
			margin: 5px;
		  }
						
		#botpicbox	{
			margin-left: 35px;
			display: inline-block;
			align-items: center;

		}
							
										  }

			/*for larger than cellphones*/							  
@media only screen and (min-width: 768px) 	{
			#aside {
			font-size: 1.2em;
		}
		

		 #botpicbox	{
		 	display: inline;
		 	grid-area: pics;
		 	margin-top:20px;
		 }

		#likedis	{
			display:grid;
			grid-template-columns: 1fr 450px 1fr;
			grid-template-rows: auto;
			grid-template-areas: "likes pics dislikes"
			  }

		#favs  {
			margin-right: 10px;


		}	

		#hates {
			margin-left:10px;
		}


		.small {
			height: 200px;
			width: 200px;
			border: 5px solid black;
			border-radius: 25px;
			margin: 5px;
			
		}

		.single30x70 {
			display: grid;
			grid-template-columns: 3fr 7fr;

		}	
			}
					/* end of the screen size instructions */		}
		
		#fullpage {
			font-family: "trebuchet MS", helvetica, sans-serif;
			font-size: 1.3em;
			}

		.bluebody  {
			border: 3px solid black;
			border-radius: 10px;
			padding: 10px;
			background-color: rgba(150,150,255,.9);
			font-size: 1.3em;
			text-decoration: none;
		}	

		

		.link  {
			text-decoration: none;
		}
		

		.alignleft {
			float:left;
			margin-right: 20px;
		}

		.alignright  {
			float: right;
			margin-left: 20px;
		}

	#menuBut	{
		height: 100%;
		width: 100%;

	}	

	#menuButX	{
		height: 100%;
		width: 100%;

	}	

	#navButton	{
		position: absolute;
		height: 80px;
		width: 80px;
		right: 40px;
		top: 45px;
		float: right;
		margin: auto;
		z-index: 1;
	}

/*navigation	*/	
		#navbar   {
			
			margin: auto;
	     	float: right;
			z-index: 2;
			background-color: gold;
			position: absolute;
			top: 12px;
			right: 0px;
			width: auto;
			height: auto;
			border: 3px solid black;
			border-radius: 10px;
			padding: 10px;
			}

		.ancBox	{
			font-family: "Schoolbell";
			font-size: 5vh;
			line-height:7vh;
			padding: 13px;
			border: 5px solid red;
			border-radius: 25px;
			margin: 5px;
		}

		#closeBut	{
			height: 35px;
			width: 35px;
			position: absolute;
			right: 2px;
			top: 2px;
			border-radius: 5px;

		}

		.topAncBox	{
			margin-top: 30px;
		}

		#main {
			margin-top: 0px;
			list-style-type: none

		}

		#aside {
			margin-top: 0px;
			background-color: lightgrey;
			font-style: italic;
			padding: 20px;
			border-radius: 25px;
		}

		#footer {
			font-size: 1.1em;
			font-style: italic;

		}

		#mainimage  {
			object-fit: cover;
			object-position: left;

			}

		#topPic	{
			width: auto;
		}	

		#backtotop  {
			text-align: center;
		
	}
		#favs     {
			grid-area: likes;
			border: 5px solid blue;
			text-align: center;
			color: blue;
			margin-top: 20px;
			border-radius: 10px;
			

		}

		#hates	{
			grid-area: dislikes;
			border: 5px solid red;
			color:red;
			text-align: center;
			margin-top:20px;
			border-radius: 10px;

		}
		 #favstext 	{
		 	list-style-type: none;
		 	font-family: 'Schoolbell', impact, sans-serif;
		 	font-size: 1.2em;
		 	margin-right: 40px;
		 	line-height: 20px;
		 


		 }
		 #hatestext	{
		 	list-style-type: none;
		 	font-family: 'Schoolbell', impact, sans-serif;
		 	font-size: 1.2em;
		 	margin-right: 40px;
		 	line-height: 20px;

		 }

		 #favsheader	{
		 	margin: 30px;

		 }
		 #hatesheader	{
		 	margin: 30px;

		 }

		 .divider	{
		 	border: 3px solid black;
		 }		
					
	