		/*for cell phones*/
@media only screen and (max-width: 767px) {

	.yespic {
		width: 60%;	
	}

	.yescontainer	{
		width: 100%;
		flex: 1;
		display:flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 10px;		
}

	.yespic   {
		display: block;
		width: 70%;
		margin: auto;	
	}

	.imBox	{
		width: 100%
	}


	.yesyes	{
			height: 60px;
			width: 60px;
		    position: absolute;
			z-index: 2;
			border: 3px solid blue;
			border-radius: 50%;
		}

		.nono	{
			position: absolute;
			height: 60px;
			width: 60px;
			z-index: 2;
			border: 3px solid red;
			border-radius: 50%;

		}
			

		.thumbtitle	{
			text-align: center;
		}		

							

		.probox	{
			width: 70%
				}

		.conbox {
			width: 70%;
		}	
							}	
			/*for larger than cellphones*/							  
		
@media only screen and (min-width: 768px) 	{

	/*wrapper for good products*/
	.yescontainer	{
		display: flex;
		max-width: 800px;
		height: 200px;
		align-items: center;
		padding-bottom: 10px;		
}

	.yespic   {
		height: auto;	
	}


	.yesyes	{
			position: relative;
			height: 60px;
			width: 60px;
			left: 30px;
			bottom: 85px;
			z-index: 2;
			border: 3px solid blue;
			border-radius: 50%;
			margin-top: 0px;
			margin-right: 0px;


		}

		.nono	{
			position: relative;
			height: 60px;
			width: 60px;
			left: 30px;
			bottom: 85px;
			z-index: 2;
			border: 3px solid red;
			border-radius: 50%;
			margin-top: 0px;
			margin-right: 0px;

		}
			
											}

/*end of special screen sizes*/


	#fullpage {
			font-family: "trebuchet MS", helvetica, sans-serif;
			}

	/*navigation*/			
		#navbar   {
			
			margin: auto;
	     	float: right;
			z-index: 1;
			font-size: 16px;
			line-height:26px;
			background-color: gold;
			position: absolute;
			top: 12px;
			right: 0px;
			width: auto;
			height: auto;
			margin-right: 18px;
			border: 3px solid black;
			border-radius: 10px;
			padding: 10px;
			


			}

		#header {
			display: inline-flex;
			margin: auto;
			width: auto;
			height: 180px;
			justify-content: center;				
		}	

		#maingridcon {
	display: flex;
	justify-content: center;
	margin-top: 20px;
					}
											


		#mainimage  {
			object-fit: cover;
			object-position: left;
					}	

	

		#explan  {
			background-color: lightgrey;
			overflow: hidden;
			font-style: italic;
			width: 100%;
		}

		#happyborder {
			
			height: 55px;
			width: 55px;
			border: 10px solid blue;
			border-radius: 50%

		}

		#happypic	{
		width: 20%
		
		}

		#sadpic	{
		width: 20%;
				}

		#sadborder {
			height: 55px;
			width: 55px;
			border: 10px solid red;
			border-radius: 50%
		}

		#thumbnailcontent	{
			display; flex;
			flex-direction: row;

		}


		.smallText  {
			font-size: 2.5vw;
		}
					
	.conbox {
		flex: 1;
		background-color: rgb(250 250 110);
		font-weight: bold;
		height: 200px;
		overflow: hidden;
		width: 350px;
	}
	.context	{
		padding:15px;
		line-height: 25px;
		font-size: .8em;
		font-weight: bold; 
		letter-spacing: .1em;
		margin-left: 10px;
		font-family: 'Schoolbell', impact;
		font-size: 1.1em;
		}

	.depthcontainer	{
			border: 3px solid grey;
			border-radius: 10px;
			padding: 10px;
		}

	.halfSize	{
		width: 20%;
	}	

	.happytext  {
			
		}

	.indepthheader	{
			color: blue;
		}

	.leftfloat	{
			float: left;
			height: 200px;
			width:200px;
			padding-right: 15px;
		}

	.link	{
		text-decoration: none;
	}

	

	.probox	{
		flex: 1;
		background-color: rgb(110 250 250);
		font-weight: bold;
		height: 200px;
		overflow: hidden;
		width: 350px;
	}

	.protext {
		padding:15px;
		line-height: 25px;
		font-size: .8em;
		font-weight: bold; 
		letter-spacing: .1em;
		margin-left: 10px;
		font-family: 'Schoolbell', impact;
		font-size: 1.1em;
		

	}

		.ratingbox	{
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-rows: 1px auto;
			grid-template-areas:
			 "name comment"
			 "starrating starrating";
			 max-width: 500px;
			 border: 5px solid yellow;
			 border-radius: 25px;
			 margin: auto;
			}


	.roundpic	{
		border-radius: 50%;
		width: 75px;
	}

	.starBox	{
		grid-area: starrating;
	}

	.starPics	{
	width: 100%;

	}



	


