
		/*for cell phones*/
@media only screen and (max-width: 767px) {
	.picHolder	{
		width: 100%;
	}

}

			/*for larger than cellphones*/							  
@media only screen and (min-width: 768px) 	{

	.picHolder	{
		width: 100%;

	}

	}

	/*end of special screen sizes*/

	.bigPic	{
		width: 100%;
		border-radius: 25px;
	}
		#fullpage {
			font-family: "trebuchet MS", helvetica, sans-serif;
			font-size: 1.3em;
			}

		.link  {
			text-decoration: none;
		}
		

	 .bigPic	{

	 }

	 .picBox	{
	 	border: 10px solid pink;
		border-radius: 25px;
		margin: 20px;
		box-shadow: 15px 15px 20px;
		background-color: pink;
	 }	

	 .picHolder	{
	 
	 	border-radius: 25px
	 }

	 .rdText	{

	 }

	 .runDown	{
	 	text-align: center;
	 }

	 #explan	{

	 	}

	
