
		/*for cell phones*/
@media only screen and (max-width: 767px) {
	.target {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 15px;
	}

	.flexbuttons   {
		flex-direction: column;
	}
}


			/*for larger than cellphones*/							  
@media only screen and (min-width: 768px) 	{

	.target	{
		width: 23%;
		margin: 15px;
	}
}

#wholepage {
	border: 3px solid black;
	font-family: "Gill Sans", Helvetica, sans-serif;
	background-color: darkblue;
	color: white;
}

#answerBox {
	background-color: darkblue;
	color: white;
	font-size: 2em;



}

#topBanner	{
	text-align: center;
	margin: auto;
}

#topTitle	{
	font-size: 2em;
	color: yellow;


}

#outputBox	{
	background-color: darkblue;
	color: white;
}

#roundUp	{
	padding: 30px;
	border-radius: 25px;
	width: 100%;
	border-color: red;
	background-color: white;
	font-size: 2em;
}

.qstnwrapper {
	margin-top: 35px;
	padding: 25px;
	border: 3px solid black;
	padding: 10px;
	text-align: center;
	border-radius: 25px;
	background-color: darkgrey;
}

.flexbuttons  {
	padding: 10px;
	display: flex;	

}

.unpicked  {

	margin: auto;
	border: 5px dashed grey;
	color: black;
	background-color: lightgrey;
	border-radius: 25px;
}

.hot	{
	
	margin: auto;
	border: 5px inset red;
	color: darkblue;
	background-color: yellow;
	border-radius: 25px;
}

.cold	{
	
	margin: auto;
	border: 5px outset blue;
	color: grey;
	background-color: lightblue;
	border-radius: 25px;
	
}

.target	{

	padding: 10px;
}